pip install llama-index-agent-openai
pip install llama-index-readers-web
pip install llama-index-tools-google
pip install llama-index-llms-google-genai llama-index
pip install firecrawl-py
pip install hyperbrowser
pip install scrapfly-sdk
pip install zyte-api
pip install llama-index-embeddings-google-genai

